{{! Assigning a unique id to the master div that is hopefully unique. All elements in our JS will be looked up wrt to this.}}
<div id="highresio-hibrow-form-feedback">
	<h2>{{l.l-feedback}}</h2>
	<div id="{{s.email-box}}" class="{{s.email-box}}">
		<p>
		<textarea placeholder="{{l.l-feedback}}}"></textarea>
		</p>
		<p>
			<input type="button" value="{{l.b-send}}}">
		</p>
	</div>
</div>